<!-- app/templates/index.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>BIENVENIDOS AL NUEVO TWITTER HECHO EN FLASK</h1>
    <h2>lamento la apariencia visual, luego me ocupo de eso</h2>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('new_post') }}" class="btn btn-primary">Create New Post</a>
    {% endif %}
    
    <hr>
    
    {% for post in posts %}
        <div class="post">
            <h2>
                <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.content }}</p>
            <p>Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
